{% load static %}
<html>
    <head>
         <meta charset="UTF-8">
         <meta name="author" content="Gabriel Autes">
	 <title>{% block headtitle %}TopoMat Database{% endblock %} </title>
<!-- Favicon -->
         <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/apple-icon-57x57.png' %}">
         <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/apple-icon-60x60.png' %}">
         <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/apple-icon-72x72.png' %}">
         <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-icon-76x76.png' %}">
         <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/apple-icon-114x114.png' %}">
         <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/apple-icon-120x120.png' %}">
         <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/apple-icon-144x144.png' %}">
         <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/apple-icon-152x152.png' %}">
         <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-icon-180x180.png' %}">
         <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'img/android-icon-192x192.png' %}">
         <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
         <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon-96x96.png' %}">
         <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
         <link rel="manifest" href="{% static 'img/manifest.json' %}">
         <meta name="msapplication-TileColor" content="#ffffff">
         <meta name="msapplication-TileImage" content="{% static 'img/ms-icon-144x144.png' %}">
         <meta name="theme-color" content="#ffffff">
<!-- Bootstrap -->
         <!-- Material Design fonts -->
	 <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
	 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="{% static 'css/custom.css'%}" rel="stylesheet">
	<!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
	
    <script src="{% static 'js/iframeResizer.contentWindow.min.js' %}"></script> 

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125400393-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

        gtag('config', 'UA-125400393-1');
    </script>


    </head>
    <body>
<!-- Title bar -->
        <div class="container-fluid default-primary-color card-2" >
		<h1>{% block title %}TopoMat Database <small>beta</small>{% endblock %}</h1>
        </div>
<!-- Nav. bar -->
	{% block navbar %}
	<nav class="navbar navbar-inverse navbar-static-top  .navbar {margin-bottom: 0;}">
                {% url 'materials:index' as index_url %}
		<div class="container-fluid card-2">
			<ul class="nav navbar-nav">
				<li {% if request.get_full_path == index_url  %} class='active' {% endif %}>
					<a href="{{index_url}}"> <span class="glyphicon glyphicon-list"></span>&nbsp; Database </a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{% if plot %}
				<li>
					<form class="navbar-form inline" id="plotform" action="{% url 'materials:plot' %}" method="get" accept-charset="utf-8">
						<select class="form-control" name="x">
							<option value="nat">X-axis</option>
							<option value="nat">nat</option>
							<option value="ne">ne</option>
							<option value="nel">nelement</option>
							<option value="dim">dim</option>
							<option value="gap">gap</option>
							<option value="dirgap">dir. gap</option>
							<option value="metallicity">met</option>
							<option value="zmax">zmax</option>
							<option value="volume">volume</option>
							<!-- <option value="nu">nu</option> -->
						</select>
						<select class="form-control" name="y">
							<option value="gap">Y-axis</option>
							<option value="nat">nat</option>
							<option value="ne">ne</option>
							<option value="nel">nelement</option>
							<option value="dim">dim</option>
							<option value="gap">gap</option>
							<option value="dirgap">dir. gap</option>
							<option value="metallicity">met</option>
							<option value="zmax">zmax</option>
							<option value="volume">volume</option>
						</select>
						<button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
							<span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Plot
						</button>
					</form>
				</li>
				{% endif%}
				{% if from_list %} 
				<li><a href='{{ source_url }}' > <span class="glyphicon glyphicon-arrow-left"></span> Back to list </a> </li>
				{% endif %} 
				<li>
					<form class="navbar-form inline" id="searchform" action="{% url 'materials:search' %}" method="get" accept-charset="utf-8" role="search">
						<div class="form-group" style="display:inline;">
							<div class="input-group" style="display:table;">
								<input class="form-control" name="search" placeholder="Quick search"  autofocus="autofocus" type="text">
								<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
							</div>
						</div>

					</form>
			
				</li>
			</ul>
		</div>
	</nav>
       {% endblock %}
       {% block content %}
       {% endblock %}
       {% if plot %}
	<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-body ">
				<div class="text-center"><h4 >Plotting...</h4> </div>
				<img id='wheel' class='img-responsive center-block'  src='{% static 'img/puff.svg' %}' width=40% />
				<br>
			</div>
		</div>
	</div>
	</div>
       {% endif%}
<!-- Scripts -->
	{% block script %}
        {% endblock %}
 <div style ="position: relative" data-iframe-height></div>
    </body>
</html>
