{% extends 'materials/base.html' %}
{% load materials_extra %}
{% load static %}
{% block headtitle %}{{ material.formula }}  {{material.source | source }}  {{material.icsd}}{% endblock %}
{% if material %}
{% block title %}{{ material.formula | formula  | safe }}  {{material.source | source }}  {{material.icsd}}{% endblock %}
{% block content %}
<!-- Content -->
  <div class="container default-background card-2" >
  &nbsp;
 <div class='row'>
  <div id='jsmol' class='col-xs-12 col-sm-5 text-center block-center '  > 
   {% if material.source == 'COD' or material.source == 'OCD' %}
      <noscript><div class='panel' > <div class="panel-body"><p class='bg-danger'>You must have javascript enabled to display the crystal structure and Brillouin zone</p></div></div></noscript>
   <div class='row show-grid'  >
    <div id='col' class='col-xs-12'>
  <!-- square box !! --> 
    <div style='margin-top: 100%; '></div>
      <div style=' position: absolute; top: 0; bottom: 0; left: 15; right: 15; '>
       <span  id="jmol"></span>
      </div> 
     </div>
  <!-- square -->
   </div>
   <span id="btns" ></span>
   <br/> &nbsp;
   {% endif %}
   <div class='row'  >
    <div id="bzcanvas" style='overflow:hidden;' class='col-sm-12'></div> <!-- this positioned div is needed for the labels positions to work -->
   </div>
  </div>
 
  <div class='col-xs-12 col-sm-7 default-background '> 
   <ul class="list-group">
   <li class="list-group-item"> Formula  : {{ material.formula | formula | safe }}  </li> 
   <li class="list-group-item">
        Space Group : {{material.spacegroup}} <br/>
      Centrosymmetric : {{material.centro}}  <br/>
      Dimensionality  : {{material.dim | dim }} 
   </li>
   <li class="list-group-item">
      <div class='row'>
           <div class='col-sm-2'>   a  = {{material.a}} <br/>  b  = {{material.b}} <br/>  c  = {{material.c}} </div> 
	   <div class='col-sm-2'>  &alpha; = {{material.alpha}} <br/>  &beta;  = {{material.beta}} <br/>  &gamma; = {{material.gamma}} </div>
      </div>
   </li>
   <li class="list-group-item">
                nAtoms  = {{material.nat}} <br/>
                nElectrons  = {{material.ne}}
   </li>
   <li class="list-group-item">
       Band gap  = {{material.gap}} eV <br/>
       Direct Gap  = {{material.dirgap | floatformat:3 }} eV <br/> 
       Metallicity  = {{material.metallicity| floatformat:3 }} <br/>
       &nu; = {{material.nu }}
   </li>
   {% if material.source == 'COD' or material.source == 'OCD' %}
   <li class="list-group-item"><a href='{{material.ciffile.url}}'>cif file</a> 
     - <a href='{{material.scfin.url}}'>scf.in</a> 
     - <a href='{{material.scfout.url}}'>scf.out</a>  
     - <a href='{{material.bandsin.url}}'>bands.in</a>  
     - <a href='{{material.bandsout.url}}'>bands.out</a>     </li >
   {% endif %}
   <li class="list-group-item"> Reference: {{material.publication | linebreaks }} </li>



   </ul>
  </div>
 </div>
 
<!-- bands -->
{% if  material.has_bands %}
   <hr>
   <h3 title="use mouse wheel to zoom in / zoom out"> Band structure </h3> 
   <img id='bndimg' class='img-responsive'  src='{{material.bandsimage.url}}' style='display:none;'/>
   <div id='bndloading'  style='display:block;'>
                  loading band structure ...
        <img  class='img-responsive center-block'  height='200' src='{%static 'img/puff.svg' %}' style='display:block;'/>
   </div>
   <canvas id="myChart" style='display:none;' ></canvas>
     <noscript>   <img id='bndimg-alt' class='img-responsive'  src='{{material.bandsimage.url}}' />   </noscript> 
{% endif %}

<!-- wcc -->
{% if  material.has_wcc %}
<hr>
<h3> WCC  </h3>
  <img class='img-responsive' src='{{material.wccimage.url}}' />
{% endif %}

&nbsp;
</div>

&nbsp;
{% endblock  %}

{% else %}
  404 - no material found 
{% endif %}
{% block script %}
<!-- Chart.js -->
         <script type="text/javascript" src="{% static 'js/chartjs/Chart.js' %}"></script>
	 <script type="text/javascript" src="{% static 'js/chartjs/Chart.kscale.js' %}"></script>
	 <script type="text/javascript" src="{% static 'js/chartjs/chartjs-plugin-zoom.js' %}"></script>
	 <script type="text/javascript" src="{% static 'js/chartjs/bandplot.js' %}"></script>
<!-- three.js -->
         <script type="text/javascript" src="{% static 'js/threejs/three.js' %}"></script>
	 <script type="text/javascript" src="{% static 'js/threejs/Projector.js' %}"></script>
	 <script type="text/javascript" src="{% static 'js/threejs/CanvasRenderer.js' %}"></script>
	 <script type="text/javascript" src="{% static 'js/threejs/OrbitControls.js' %}"></script>
	 <script type="text/javascript" src="{% static 'js/threejs/bz.js' %}"></script>
<!-- loading and plotting data -->
	 <script>
fetch("{{material.bandjson.url}}")
    .then(function(response){
         console.log('done!');
         response.json()
         .then(function(jsondata){
                        console.log('collecting data ...');
			var datasets=jsondata.datasets;
			var kpoints=jsondata.kpoints;
			var bz=jsondata.bz;
			var points=jsondata.points;
			/* bands chart */
			var ctx = document.getElementById("myChart").getContext('2d');
                        document.getElementById('bndloading').style.display = 'none';
                        console.log('plotting bands ...');
                        if(typeof kpoints != "undefined"){
	        		bandplot(datasets,kpoints,ctx);
                                document.getElementById('myChart').style.display = 'block';
                        } else {
                                document.getElementById('bndimg').style.display = 'block';
                        }
			/* bz plot */
                        console.log('plotting bz ...');
			if(typeof bz != "undefined"  ){
		        	bzplot(bz,points,kpoints,"bzcanvas");
                        }
        })
        .catch(function(error) {
            console.log(' error while fetching {{material.bandjson.url}} :', error.message);
            document.getElementById('bndimg').style.display = 'block';
            document.getElementById('bndloading').style.display = 'none';
        })
    })
    .catch(function(error) {
        console.log(' error while fetching {{material.bandjson.url}} :', error.message);
        document.getElementById('bndimg').style.display = 'block';
        document.getElementById('bndloading').style.display = 'none';
    });
	 </script>
<!-- JSMol -->
<script type="text/javascript" src="{% static 'js/JSmol.min.js' %}"></script>
<script type="text/javascript"> 
delete Jmol._tracker;
$(document).ready(
function() {
Info = {
        width: "100%",
        height: "100%",
        debug: false,
        j2sPath: "{% static 'js/j2s' %}",
        color: "0xC0C0C0",
  disableJ2SLoadMonitor: true,
  disableInitialConsole: true,
        addSelectionOptions: false,
        use: "HTML5",
        readyFunction: null,
        script: "set frank off; set diffuse 100 ; set ambient 70 ; set specularPower 10; set antialiasDisplay true ; load ASYNC {{material.ciffile.url}} {1 1 1}",
        color: "black",
};
  Jmol.setButtonCss("btn btn-default");
$("#jmol").html(Jmol.getAppletHtml("jmolApplet0",Info));
$("#btns").html(Jmol.jmolButton(jmolApplet0, "unitcell 'primitive'","prim.")
 +Jmol.jmolButton(jmolApplet0, "unitcell 'conventional'","conv.")
 +Jmol.jmolButton(jmolApplet0, "load  {{material.ciffile.url}}  {3 3 3} ","3x3x3")
 +Jmol.jmolButton(jmolApplet0, "load  {{material.ciffile.url}}  { 1 1 1 }","1x1x1")
 +Jmol.jmolCheckbox(jmolApplet0, "label %a","labels off","labels")
 +Jmol.jmolCheckbox(jmolApplet0, "set showUnitCell on; set axes on","set showUnitCell off; set axes off","unit cell",true)
 );      
}
);
</script>
{% endblock %}
