{% extends 'materials/base.html' %}
{% load materials_extra %}
{% load static %}
{% block content %}
<!-- search form -->
<div class="container default-background card-2" >
&nbsp;
<form class="form inline" id="filterform" action="{% url 'materials:index' %}" method="get" accept-charset="utf-8">
<div class="form-group">
                <!--  number of atoms   -->
 
<div class="row">
<div class="col-sm-6 col-md-3">
      <div class="input-group">   
        <input class="form-control input-default" id="gtnatbox" name="gtnat" type="text"  value="{{gtnat}}" title="minimum number of atoms in primitive unit cell"> 
        <span class="input-group-addon" title='number of atoms in the primitive unit cell'>&le;nAtoms&le; </span>
        <input class="form-control input-default" id="ltnatbox" name="ltnat" type="text" value="{{ltnat}}" title="maximum number of atoms in primitive unit cell">
      </div>
</div>
                <!--  number of elements   -->
<div class="col-sm-6 col-md-3">
      <div class="input-group">   
        <input class="form-control input-default" id="gtnelbox" name="gtnel" type="text"  value="{{gtnel}}" title='minimum number of distinct elements in the compound composition'> 
        <span class="input-group-addon" title='number of distinct elements in the compound composition'>&le;nElements&le; </span>
        <input class="form-control input-default" id="ltnelbox" name="ltnel" type="text" value="{{ltnel}}" title='maximun number of distinct elements in the compound composition'>
      </div>
</div>
                <!-- space group -->
<div class="col-sm-6 col-md-2 col-lg-3">
       <div class="input-group">
          <span class="input-group-addon" title="space group number">Space Group:</span>
          <input class="form-control input-default" title="space group number - comma separated list are accepted to query more than one space group " id="spgbox" name="spg" type="text"  value="{{spg}}" >
       </div>
</div>
                <!-- centrosymmetric -->

<div class="col-sm-6 col-md-4 col-lg-3">
  <div class="btn-group" data-toggle="buttons" title='select only centrosymmetric or non-centrosymmetric structures'>
    <label class="btn btn-default   {% if centro == 'c' %} active  {% endif %}  ">
         <input type="radio" name="centro" value="c" {% if centro == 'c' %} checked  {% endif %}>
    Centro. </label>
    <label class="btn btn-default  {% if centro == 'n' %} active  {% endif %} ">
         <input type="radio" name="centro" value="n" {% if centro == 'n' %} checked  {% endif %}>
    Non Centro. </label>
    <label class="btn btn-default  {% if centro == 'b' %} active  {% endif %} ">
         <input type="radio" name="centro" value="b" {% if centro == 'b' %} checked  {% endif %}>
    All </label>
  </div>
</div>


</div> <!-- .row -->

</div> <!-- .form-group -->
<div class='form-group'>
<div class="row">

                <!--  band gap   -->
<div class="col-sm-6 col-md-3">
      <div class="input-group">   
        <input class="form-control input-default" id="gtgapbox" name="gtgap" type="text"  value="{{gtgap}}" title='mininum band gap value (eV)'> 
        <span class="input-group-addon" title="band gap along the bandstructure path (eV)">&le; Gap &le; </span>
        <input class="form-control input-default" id="ltgapbox" name="ltgap" type="text" value="{{ltgap}}" title='maximum band gap value (eV)'>
      </div>
</div>

                <!-- direct band gap -->
<div class="col-sm-6 col-md-3">
      <div class="input-group">   
        <input class="form-control input-default" id="gtdgapbox" name="gtdgap" type="text"  value="{{gtdgap}}" title='minimum direct band gap value (eV)'> 
        <span class="input-group-addon" title='direct band gap along the bandstructure path (eV)'>&le; Dir. Gap &le; </span>
        <input class="form-control input-default" id="ltdgapbox" name="ltdgap" type="text" value="{{ltdgap}}" title='maximum direct band gap value (eV)'>
      </div>
</div>
                <!--  metallicity   -->
<div class="col-sm-6 col-md-3">
      <div class="input-group">   
        <input class="form-control input-default" id="gtmetbox" name="gtmet" type="text"  value="{{gtmet}}" title='minimum metallicity'> 
        <span class="input-group-addon" title='metallicity (see method section for more information about the definition of this quantity)'>&le; Met. &le; </span>
        <input class="form-control input-default" id="ltmetbox" name="ltmet" type="text" value="{{ltmet}}" title='maximum metallicity'>
      </div>
</div>

                <!-- dimensionnality -->

<div class="col-sm-6 col-md-3">
  <div class="btn-group" data-toggle="buttons"   title='dimensionality of the compound as computed by pymatgen.analysis.structure_analyzer using algorithm from J. Mater. Chem. A 2, 4136 (2016) - Note that a 1D structure detection might indicate problems in the bonding  algorithm, particularly for ionic crystals (e.g., NaCl)  ' > 
    <label class="btn btn-default  {% if dim == '1' %} active  {% endif %}  ">
         <input type="radio" name="dim" value="1" {% if dim == '1' %} checked  {% endif %}  >
    1D </label>
    <label class="btn btn-default  {% if dim == '2' %} active  {% endif %}  ">
         <input type="radio" name="dim" value="2" {% if dim == '2' %} checked  {% endif %}  >
    2D </label>
    <label class="btn btn-default  {% if dim == '3' %} active  {% endif %}  ">
         <input type="radio" name="dim" value="3" {% if dim == '3' %} checked  {% endif %}  >
    3D </label>
    <label class="btn btn-default  {% if dim == '' %} active  {% endif %}  ">
         <input type="radio" name="dim" value="" {% if dim == '' %} checked  {% endif %}  >
    All </label>
  </div>
</div>
</div>
</div>
<div class='form-group'>
<div class="row">
                <!-- formula -->
<div class="col-sm-6">
       <div class="input-group" title="query for strings appearing in the compound formula - comma separated strings and '-' sign are accepted: 'Bi2,Se3' or 'Bi2Se3' or '-Bi'  ... ( '-x' f    ilters out formula containing 'x' )" >
          <span class="input-group-addon">Formula</span>
          <input class="form-control input-default"  id="elementsbox" name="elements" type="text" size=20 value="{{elements}}" >
       </div>
</div>

                <!-- composition -->              
<div class="col-sm-6">
       <div class="input-group" title="query for elements or families of elements in the compound composition - comma separated elements or families are accepted: 'Ta,As' or 'TM3D,C15' or 'Ta,C15' ...  (TMxD = transition metal xd , Cx = column x)"  >
          <span class="input-group-addon">Composition</span>
                   <input class="form-control input-default" id="compobox" name="compo" type="text" size=20 value="{{compo}}" >
       </div>
</div>
</div> <!-- .row -->
</div> <!-- .form-group -->

<div class='form-group'>
<div class="row">

                <!-- nu -->
<div class="col-sm-4 col-md-2">

       <div class="input-group" title="Z2 topological invariant: '(0;000)', (1;000)' ...'">
          <span class="input-group-addon">(&#957;<sub>0</sub>,&#957;<sub>1</sub>&#957;<sub>2</sub>&#957;<sub>3</sub>)</span>
          <input class="form-control input-default"   id="nubox" name="nu" type="text"  value="{{nu}}" >
       </div>

</div>

                <!-- id and database source -->
<div class="col-sm-4 col-md-2">
<select class="form-control" name="source" title='source materials database'>
                     <option value="all">Source</option>
                     <option value="ICSD" {% if source == "ICSD" %} selected {% endif %} >ICSD</option> 
                     <option value="COD"  {% if source == "COD" %} selected {% endif %}  >COD</option>
</select>
</div>

                <!-- id -->
<div class="col-sm-4 col-md-2">

       <div class="input-group" title='compound ID in the source materials database'>
          <span class="input-group-addon" > Source ID </span>
          <input class="form-control input-default"   id="icsdbox" name="icsd" type="text"  value="{{icsd}}" >
       </div>
</div>

<!-- non trivial only -->
<div class="col-sm-4 col-md-2">

<div class="btn-group" data-toggle="buttons" title='query only compounds predicted as non-trivial'>
  <label class="btn btn-block btn-default {% if nto == 't' %} active  {% endif %}  ">
      <input  type="checkbox"   name="nto" value="t" {% if nto == 't' %} checked  {% endif %}  > Non-trivial only
  </label>
</div>
</div>

<div class="col-sm-2 col-lg-2">
 <input type="button" class="btn btn-block "  onclick="location.href='./';" value="Reset" title='reset all search fields'/> 
</div>
<div class="col-sm-2 col-lg-2 ">
  <button type="submit" class="btn btn-block btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</button>
</div>

</div> <!-- .form-group -->
</div> <!-- .row -->


<div class='form-group'>
<div class="row">

<div class="col-sm-3 col-lg-3 "  style=" display: flex; justify-content: center; align-items: center; flex-direction: column;">
   <h4 class="bg-default" >  {{material_list.paginator.count }}  materials founds </h4>
</div>
<div class="col-sm-5 col-lg-5 ">
</div>

</div> <!-- .form-group -->
</div> <!-- .row -->
  </form>

<!-- material list -->
{% if material_list %}
<div class="table-responsive">
  <table class="table table-striped">
        <!-- header -->
        <tr>
            <th>{% triangle 'formula'  %}  <a href="{{ request.path }}?{% query_reverse request 'formula' %}" > Formula </a ></th>
            <th title='source materials database'>{% triangle 'source'  %}  <a href="{{ request.path }}?{% query_reverse request 'source' %}" > Source </a ></th>
            <th title='compound id in the source materials database'>{% triangle 'icsd'  %}  <a href="{{ request.path }}?{% query_reverse request 'icsd' %}" > ID </a ></th>
            <th>{% triangle 'spacegroup' %} <a href="{{ request.path }}?{% query_reverse request 'spacegroup' %}" > space group </a ></th>
            <!-- <th>{% triangle 'centro' %} <a href="{{ request.path }}?{% query_reverse request 'centro'%} " > centered </a ></th> -->
            <th title='number of atoms in primitive unit cell'>{% triangle 'nat'  %}  <a href="{{ request.path }}?{% query_reverse request 'nat'%}" > nat </a ></th>
            <th title='number of electrons in primitive unit cell'>{% triangle 'ne'  %}  <a href="{{ request.path }}?{% query_reverse request 'ne'%}" > ne </a ></th>
            <th title='dimensionality'>{% triangle 'dim'  %}  <a href="{{ request.path }}?{% query_reverse request 'dim'%}" > dim </a ></th>
            <th title='band gap along the bandstructure path (eV)'>{% triangle 'gap'  %}  <a href="{{ request.path }}?{% query_reverse request 'gap'%}" > gap </a ></th>
            <th title='direct band gap along the bandstructure path (eV)'>{% triangle 'dirgap'  %}  <a href="{{ request.path }}?{% query_reverse request 'dirgap'%}" > dir. gap </a ></th>
            <th title='metallicity'>{% triangle 'metallicity'  %}  <a href="{{ request.path }}?{% query_reverse request 'metallicity'%}" > met. </a ></th>
            <th title='predicted Z2 topological invariants'>{% triangle 'nu'  %}  <a href="{{ request.path }}?{% query_reverse request 'nu'%}" >&#957;</a></th>
            <!-- <th> Phase </th> -->
            <th title='wannier charge center calculation'>wcc</th>
            <th>{% triangle 'pub_date' %}  <a href="{{ request.path }}?{% query_reverse request 'pub_date'%}" > updated </a ></th>
            <!-- <th>{% triangle 'selected' %} <a href="{{ request.path }}?{% query_reverse request 'selected'%} " > selected </a ></th> -->
        </tr>
        <!-- table --> 
        {% for material in material_list %}
        <tr class="{% cycle 'row1' 'row2' %}">
           <td><a  href="{% url 'materials:detail' material.id %}" >{{material.formula | formula | safe}}</a>   </td>
           <td> {{material.source | source}}   </td>
           <td> {{material.icsd}}   </td>
           <td> {{material.spacegroup}}</td>
           <!-- <td align='center'> {{ material.centro  | tick |safe }}     </td> -->
           <td align='center'> {{material.nat}}   </td>
           <td align='center'> {{material.ne}}   </td>
           <td align='center'> {{material.dim}}   </td>
           <td align='center'> {{material.gap}}   </td>
           <td align='center'> {{material.dirgap | floatformat:3}}   </td>
           <td align='center'> {{material.metallicity| floatformat:3}}   </td>
           <td align='center'> {{material.nu}}   </td>
           <!-- <td align='center'>   {% if material.isti %}  TI {% else %} {% if material.isdirac %} Dirac {% else %} {% if material.isweyl %} Weyl {% else %} ? {% endif %} {% endif %} {% endif %}   </td> -->
           <td align='center'> {% if material.has_wcc %} <a href="{{material.wccimage.url}}" > &#10004; </a> {% else %} &#10007; {% endif %} </td>
           <td>{{ material.pub_date | date:"d/m/y" }} </td>
           <!-- <td align='center'> {{ material.selected  | tick |safe }}     </td> -->
        </tr>
        {% endfor %}
  </table>
</div>

<!-- footer -->
 <!-- pagination -->
 <ul class="pagination">
  <!-- previous -->
    {% if material_list.has_previous %} 
          <li class='previous'><a href="{{ request.path }}?{% query_transform request page=material_list.previous_page_number %}" > prev </a> </li>
    {% endif %}    
  <!-- pages list -->
{% short_list  material_list.paginator 6 as page_list %}
    {%  for otherpage in page_list  %}
        {% if otherpage != page %}
          {% if otherpage == -1 %}
             <li class="disabled"><a href="#"> ... </a></li>
          {% else %}
             <li> <a href="{{ request.path }}?{% query_transform request page=otherpage %}" >{{ otherpage }}</a></li> 
          {% endif %}
        {% else %}   
           <li class="active"><a href="#">{{page}}</a></li>
       {% endif %}
     {%  endfor %}
  <!-- next -->
    {% if material_list.has_next %} 
         <li class='next'><a href="{{ request.path }}?{% query_transform request page=material_list.next_page_number %}" > next </a></li> 
    {% endif %}
  </ul>
  <!-- number of compounds per page -->
  <ul class="pagination">
      <li class='disabled'> <a>items per page</a></li>
    {% for i in maxlist %} 
       {% if max != i|slugify %}
           <li> <a href="{{ request.path }}?{% query_transform request max=i %}" >{{i}}</a></li> 
       {% else %} 
           <li class='active'> <a  href="#" >{{i}}</a></li>  
       {% endif %} 
    {% endfor %}
  <li {% if max == material_list.paginator.count|slugify %} class='active' {% endif %} ><a href="{{ request.path }}?{% query_transform request max=material_list.paginator.count %}" >all</a></li>
 </ul>
{% endif %}
</div>
{% endblock %}
