{% extends 'materials/base.html' %}
{% load materials_extra %}
{% load static %}
{% block script %}
         <script type="text/javascript" src="{% static 'js/chartjs/Chart.js' %}"></script>
	 <script type="text/javascript" src="{% static 'js/chartjs/Chart.kscale.js' %}"></script>
	 <script type="text/javascript" src="{% static 'js/chartjs/chartjs-plugin-zoom.js' %}"></script>
{% endblock %}
{% block content %}
<body>
{% if pk_list %}
<!-- content -->
  <div class="container default-background card-2" >
</br>


   <canvas id="myChart" width="800" height="500" >
 </canvas>
 <noscript><div class='panel' > <div class="panel-body text-center block-center "><p class='bg-danger'>You must have javascript enabled to display the plot</p></div></div></noscript>

<script>
window.onload = function() {
	var ctx = document.getElementById("myChart").getContext('2d');
	var data = { datasets: {{data| safe}}};
	var myChart = new Chart(ctx, {
		type: 'scatter',
		data: data, 
		options: {
	    tooltips: { mode: 'nearest',
	       callbacks: { label: function(tooltipItem, myChart){
                              return data.datasets[tooltipItem.datasetIndex].label  ; 
                            } } },
	    legend: { display: false, },
	    zoom: { enabled : true, mode: 'xy'  },
	    pan: { enabled : true, mode: 'xy'  },
	    scales: {
		    yAxes: [{
			    scaleLabel: {
				    display: true,
				    labelString: '{{y}}'
			    }
		    }],
		    xAxes: [{
			    scaleLabel: {
				    display: true,
				    labelString: '{{x}}'
			    }
		    }]
  }
    } 
 
 });

var canvas = document.getElementById("myChart");
canvas.onclick = function(evt){
    var activePoints = myChart.getElementAtEvent(evt);
	if(typeof activePoints[0] != 'undefined'){ 
		var indx = activePoints[0]._datasetIndex; 
		var pk=data.datasets[indx].pk;
		var url="{% url 'materials:index' %}/"+String(pk);
		location.href=url;
	}
};


canvas.onmousemove = function(evt){
    var activePoints = myChart.getElementAtEvent(evt);
	if(typeof activePoints[0] != 'undefined'){ this.style.cursor='pointer';}
	else {this.style.cursor='default';}
};


resetZoom = function() {
	myChart.resetZoom()
}

};


</script>
<div class='form-group'>
<button  class="btn btn-primary" onclick="resetZoom()" ><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Reset zoom</button>
</div>

{% endif %}

  </div>
  {% endblock %}
